{{> head}}

<body>
    {{> navbar}}
    <div class="container">
        <div class="row pt-5">
            <div class="col-8">
                <h1>About page</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fuga voluptates sed eius asperiores
                    amet error ipsum cum ducimus facilis. Voluptate beatae ad cupiditate harum a molestias similique
                    asperiores veniam.
                </p>
            </div>

            <div class="col-4">
                <img src="../public//assets/img//andris.png" class="img-thumbnail">
            </div>
        </div>
    </div>
    {{> footer}}